.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px repeat(2, 1fr) 60px;
    grid-template-areas:
        "header header"
        "origen origen"
        "person person"
        "footer footer";
}

.h1 {
    display: none;
}

.section-origen {
    margin: 30px 0px 0px 15px;
    grid-area: origen;
    transform: filter 3s;

}

.section-person {
    margin: 30px 0px 90px 15px;
    grid-area: person;
}

.p {
    width: 70%;
    font-size: 1.8em;
}

.origen-img {
    margin-top: 15px;
    width: 70%;
    filter: grayscale();
    transition: filter 3s;
}

.origen-img:hover {
    filter: grayscale(0);
}

.flip-box {
    background-color: transparent;
    width: 120px;
    height: 120px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-inner img {
    border-radius: 50%;
    filter: grayscale(100%);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    color: black;
}

/* Style the back side */
.flip-box-back {
    display: flex;
    /* flex-wrap: wrap; */
    border-radius: 50%;
    background-color: #F24B6A;
    color: white;
    transform: rotateY(180deg);
    align-items: center;
    justify-items: center;
}

.divPerson {
    margin: 5px 0px;
    display: flex;
}

.imgFront {
    width: 120px;
    height: 120px;
}

.span {
    display: block;
}

.section-p {
    margin: auto 5px auto;
    clear: both;
    width: 40%;
    font-size: 1.2em;
}