.footer {
  background-image: linear-gradient(#f2f2f2, #0d0d0d);
  color: #f2f2f2;
  font-size: 1.2em;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__links {
  color: #f2f2f2;
}
