.footer {
  background-image: linear-gradient(#f2f2f2, #0d0d0d);
  color: #f2f2f2;
  font-size: 1.2em;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.small {
  bottom: 10px;
}

.div-social-networks {
  margin-left: 2px;
}

.links-invert-color {
  color: #f2f2f2;
}

.img--invert-color {
  width: 50px;
  filter: brightness(0) invert(1);
}

.span--aling-italic {
  font-style: italic;
}
