.header {
  background-color: $red-color;
  padding: 5px;
  font-size: 1.5em;

  &__link {
    padding: 5px;
    color: $white-color;
    display: inline;
  }

  &__img {
    filter: brightness(0) invert(1);
  }
}

.a {
  font-weight: 100;
}

.a:link {
  color: $white-color;
}

.a:visited {
  color: $white-color;
}

.a:hover {
  font-weight: bold;
}
