@import "./global";
@import "./variables";
@import "./components/footer";
@import "./components/header";
@import "./pages/index";
@import "./pages/pacientes";
@import "./pages/sobre-nosotros";
@import "./pages/terminos";
@import "./pages/testimonios";
@import "./pages/voluntarios";

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100%;
}

.section__p {
  width: 70%;
  font-size: 0.8em;
}
