* {
    /* border-style: dashed; */
}

.h1 {
    display: none;
}

.section-origen {
    margin: 30px 0px 0px 15px;
}

.section-person {
    margin: 30px 0px 90px 15px;
}

.p {
    width: 70%;
    font-size: 1.8em;
}

.origen-img {
    margin-top: 15px;
    width: 70%;
    filter: grayscale();
}

.div-person {
    clear: both;
    margin: 15px 0px 5px 0px;

}

.divPerson-img {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    filter: grayscale(100%);
    shape-outside: circle();
}

.divPerson-div {
    padding: 30px;
    font-size: 1.2em;
}

.span {
    display: block;
}

.section-p {
    margin-top: 20px;
    clear: both;
    width: 70%;
    font-size: 1.2em;
}