.body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.li {
    padding: 5px;
}

.section {
    display: inline-flex;
}

.h1 {
    text-align: center;
}

.h2 {
    font-size: big;
    text-align: center;
}

.h2--make-smaller {
    font-size: smaller;
    text-align: left;
}

.div {
    display: inline-block;
}

.div--add-padding {
    padding-left: 5px;
}

.div--make-half-size {
    width: 50%;
}

.div--pink-colored {
    background-color: #F24B6A;
    width: 50%;
}

.section--center-aligned {
    text-align: center;
    background-color: lightgray;
}

.footer {
    background-color: #0D0D0D;
    color: #F2F2F2;
    display: inline-flex;
}

.links-invert-color {
    display: block;
    color: #F2F2F2;

}

.img--invert-color {
    filter: brightness(0) invert(1);
}

.img {
    float:
}