.footer {
  background-image: linear-gradient(#f2f2f2, #0d0d0d);
  color: #f2f2f2;
  font-size: 1.2em;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.small {
  bottom: 10px; }

.div-social-networks {
  margin-left: 2px; }

.links-invert-color {
  color: #f2f2f2; }

.img--invert-color {
  width: 50px;
  filter: brightness(0) invert(1); }

.span--aling-italic {
  font-style: italic; }

.header {
  /* grid-area: header; */
  background-color: #f24b6a;
  padding: 15px;
  font-size: 1.5em; }

.li {
  padding: 5px;
  color: #f2f2f2;
  display: inline; }

.a {
  font-weight: bold; }

.a:link {
  color: white; }

.a:visited {
  color: white; }

.a:hover {
  font-weight: 100; }

.div-apply-attend {
  margin-top: 100px; }

.div-title {
  padding: 5px;
  text-align: center; }

.div-attend {
  width: 100%;
  text-align: left;
  margin: 30%; }

.why__p {
  padding-top: 10px;
  margin: auto;
  font-size: 1.3em; }

.ul-feats {
  margin: auto;
  font-size: 1.3em; }

.button {
  background-color: black;
  color: #f2f2f2;
  padding: 8px;
  margin-top: 5px; }

.img-cellphone {
  float: right;
  margin-right: 30px; }

.h1 {
  text-align: center;
  font-size: 3em;
  padding: 20px; }

.why {
  padding: 30px;
  text-align: center;
  background-color: lightgray; }

.what {
  padding: 30px;
  text-align: center;
  margin-bottom: 70px; }

.li-feats {
  margin-top: 3px;
  list-style-image: url("https://i.ibb.co/3CBt28j/angle-brackets-16.png"); }

.h1 {
  display: none; }

.p {
  width: 70%;
  font-size: 1.8em; }

.section {
  margin: 30px 0px 0px 15px;
  grid-area: section; }

.button {
  background-color: black;
  color: #f2f2f2;
  padding: 8px;
  margin-top: 20px; }

.input {
  border: none;
  border-bottom: 1px solid black;
  padding: 4px;
  width: 200px; }

.input::placeholder {
  color: lightgray; }

.input:focus {
  outline: none; }

.form {
  margin: 10px 0px 10px;
  grid-area: form; }

.select {
  color: lightgray;
  border: none;
  border-bottom: 1px solid black;
  padding: 4px;
  width: 210px; }

.select:focus {
  outline: none; }

.h1 {
  display: none; }

.section-origen {
  margin: 30px 0px 0px 15px;
  grid-area: origen;
  transform: filter 3s; }

.section-person {
  margin: 30px 0px 90px 15px;
  grid-area: person; }

.origen-img {
  margin-top: 15px;
  width: 70%;
  filter: grayscale(100%);
  transition: filter 3s; }

.origen-img:hover {
  filter: grayscale(0); }

.flip-box {
  background-color: transparent;
  width: 120px;
  height: 120px;
  perspective: 1000px; }

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip-box-inner img {
  border-radius: 50%;
  filter: grayscale(100%); }

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg); }

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden; }

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black; }

/* Style the back side */
.flip-box-back {
  display: flex;
  border-radius: 50%;
  background-color: #f24b6a;
  color: white;
  transform: rotateY(180deg);
  align-items: center;
  justify-items: center; }

.divPerson {
  margin: 5px 0px;
  display: flex; }

.imgFront {
  width: 120px;
  height: 120px; }

.section-p {
  margin: auto 5px auto;
  clear: both;
  width: 40%;
  font-size: 1.2em; }

.tntSection {
  margin: 15px 0px; }

.h1 {
  display: none; }

.h2 {
  padding: 5px;
  margin-right: 10px;
  background-color: black;
  color: #f2f2f2; }

.tntSection__p {
  margin: 10px 15px 10px;
  width: 70%;
  font-size: 1.2em; }

.list {
  margin: 10px 50px;
  width: 60%;
  font-size: 1.2em; }

.url {
  color: #f24b6a; }

@media (max-width: 576px) {
  .testimonial {
    width: 45%;
    position: relative;
    background-size: cover;
    margin: 5px 5px;
    border-radius: 2%; }
  .section {
    margin: 10px 0px;
    grid-area: section;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-items: center; }
  .blockquote {
    background-color: black;
    opacity: 60%;
    font-size: 1.2;
    color: white; }
  .testimonial-img {
    display: none; }
  .span {
    font-size: 0.7em;
    color: white; } }

@media (min-width: 577px) {
  .identification {
    position: relative; }
  .testimonial {
    width: 32%;
    background-image: none !important; }
  .container {
    grid-template-rows: 80px 450px 1fr 60px; }
  .section {
    grid-area: section;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-items: center; }
  .blockquote {
    font-size: 1.8; }
  .testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: -40px; }
  .span {
    position: absolute;
    font-size: 0.7em;
    left: 40%;
    top: 8px; } }

.h1 {
  display: none; }

.section {
  grid-area: section;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.8rem;
  justify-content: space-between;
  align-items: center;
  justify-items: center; }

.blockquote {
  width: 70%;
  text-align: center;
  border-style: solid;
  padding: 15px;
  margin: 25px auto; }

.h1 {
  display: none; }

.section__p {
  width: 70%;
  font-size: 0.8em; }

.section {
  margin: 30px 0px 0px 15px;
  grid-area: section; }

.button {
  display: block;
  background-color: black;
  color: #f2f2f2;
  padding: 8px;
  margin-top: 20px; }

.input {
  border: none;
  border-bottom: 1px solid black;
  padding: 4px;
  width: 200px; }

.input::placeholder {
  color: lightgray; }

.input:focus {
  outline: none; }

.form {
  margin: 10px 0px 10px;
  grid-area: form; }

.select {
  color: lightgray;
  border: none;
  border-bottom: 1px solid black;
  padding: 4px;
  width: 210px; }

.select:focus {
  outline: none; }

* {
  margin: 0px;
  padding: 0px; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100%; }

.section__p {
  width: 70%;
  font-size: 0.8em; }
