/* roboto, lato, poppins, montserrat, raleway, son buenas opciones */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "header header"
        "title title"
        "introduction introduction"
        "why why"
        "what what"
        "footer footer";
}

.header {
    grid-area: header;
    background-color: #F24B6A;
    padding: 15px;
    font-size: 1.5em;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-title {
    grid-area: title;
}

.li {
    padding: 5px;
    color: #F2F2F2;
    display: inline;
}

.a {
    font-weight: bold;
}

.a:link {
    color: white;
}

.a:visited {
    color: white;
}

.a:hover {
    font-weight: 100;
}


.footer {
    grid-area: footer;
    background-color: #0D0D0D;
    color: #F2F2F2;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.small {
    bottom: 10px;
}

.div-copyright {
    display: flex;
    align-items: flex-end;
}

.div-social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-social-networks {
    display: flex;
    flex-direction: row-reverse;
    gap: 2px;
}

.links-invert-color {
    color: #F2F2F2;
    display: block;
}

.img--invert-color {
    width: 50px;
    filter: brightness(0) invert(1);
}

.input {
    display: block;
}

.label {
    display: block;
}

.span--block-display {
    display: block
}

.span--aling-italic {
    font-style: italic;
}