.div {
  padding: 5px;
  text-align: center;
}

.div--shifted {
  text-align: left;
  padding-top: 100px;
  padding-left: 0px;
}

.why__p {
  padding-top: 10px;
  margin: auto;
  font-size: 1.3em;
}

.ul-feats {
  margin: auto;
  font-size: 1.3em;
}

.button {
  background-color: $black-color;
  color: $white-color;
  padding: 8px;
  margin-top: 5px;
}

.img {
  float: right;
  margin-right: 30px;
}

.h1 {
  text-align: center;
  font-size: 3em;
  padding: 20px;
}

.why {
  padding: 30px;
  text-align: center;
  background-color: $grey-color;
}

.what {
  text-align: center;
  padding: 30px;
  margin-bottom: 70px;
}

.li-feats {
  margin-top: 3px;
  list-style: none;
}
