.h1 {
  display: none;
}

.button {
  background-color: $black-color;
  color: $white-color;
  padding: 8px;
  margin-top: 20px;
}

.input {
  border: none;
  border-bottom: 1px solid $black-color;
  padding: 4px;
  width: 200px;
}

.input::placeholder {
  color: $grey-color;
}

.input:focus {
  outline: none;
}

.form {
  margin: 10px 0px 10px;
}

.select {
  color: $grey-color;
  border: none;
  border-bottom: 1px solid $black-color;
  padding: 4px;
  width: 210px;
}

.select:focus {
  outline: none;
}
