/*  sobre-nosotros */

.h1 {
  display: none;
}

.section__img {
  margin-top: 15px;
  width: 70%;
  filter: grayscale(100%);
  transition: filter 1s;
}

.section__img:hover {
  filter: grayscale(0);
}

.flipbox {
  background-color: transparent;
  width: 120px;
  height: 120px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.inner img {
  border-radius: 50%;
  filter: grayscale(100%);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipbox:hover .inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.front {
  color: black;
}

/* Style the back side */
.back {
  display: flex;
  border-radius: 50%;
  background-color: $red-color;
  color: $white-color;
  transform: rotateY(180deg);
  align-items: center;
  justify-items: center;
}

.person {
  margin: 5px 0px;
  display: flex;
}

.person__p {
  width: 50%;
  font-size: 1.4em;
  margin-left: 10px;
}

.back__span {
  font-size: 1em;
  color: $white-color;
  margin: 0px 4px;
}
