/*  terminos */

.tntSection {
  margin: 15px 0px;
}

.h1 {
  display: none;
}

.h2 {
  padding: 5px;
  margin-right: 10px;
  background-color: $black-color;
  color: $white-color;
}

.tntSection__p {
  margin: 10px 15px 10px;
  width: 70%;
  font-size: 1em;
}

.list {
  margin: 10px 50px;
  width: 60%;
  font-size: 1em;
}

.url {
  color: $red-color;
}
