@include respond-to("small") {
  .testimonial {
    width: 45%;
    position: relative;
    background-size: cover;
    margin: 5px 5px;
    border-radius: 2%;
  }

  .blockquote {
    background-color: black;
    opacity: 60%;
    color: white;
  }

  .testimonial-img {
    display: none;
  }

  .span {
    color: white;
  }
}

@include respond-to("medium") {
  .identification {
    position: relative;
  }

  .testimonial {
    width: 32%;
    background-image: none !important;
  }

  .testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: -30px;
  }

  .span {
    position: absolute;
    left: 40%;
    top: 18px;
  }
}

.h1 {
  display: none;
}

.section-wrapped {
  grid-area: section;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.8rem;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.blockquote {
  width: 70%;
  text-align: center;
  border-style: solid;
  padding: 15px;
  margin: 35px auto;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
